# Ignore everything by default
*

# Allow this .gitignore file
!/.gitignore

# Allow specific directories and files
!/dunst/
!/eww/
!/fastfetch/
!/hypr/
!/kitty/
!/ranger/
!/spicetify/config-xpui.ini
!/spicetify/Themes/
!/spicetify/CustomApps/
!/spicetify/Extensions/
!/wofi/