# Ignore everything by default
/*

# Allow this .gitignore file
!.gitignore

# Allow specific directories
!btop/
!dunst/
!eww/
!fastfetch/
!hypr/
!kitty/
!ranger/
!spicetify/config-xpui.ini
!spicetify/CustomApps/
!spicetify/Extensions/
!spicetify/Themes/
!wofi/

# Allow specific files
!.bashrc
!.nanorc
!Code/User/settings.json
!fontconfig/fonts.conf
!ly.ini
!starship.toml